# rune
[[language]]
name = "rune"
scope = "source.rune"
injection-regex = "rune"
file-types = ["rn"]
comment-token = "//"
language-servers = ["rune-lsp"]
roots = ["Rune.toml"]

[language-server.rune-lsp]
command = "rune-languageserver"

# xml
# [language-server.xml]
# command = "lemminx"

[[language]]
name = "xml"
file-types = [ "xml", "svg", "xsd", "xslt", "xsl" ]
auto-format = true
formatter = { command = "xmllint", args = ["--format", "-"] }
# language-servers = [ "xml" ]

# rstml
[[language]]
name = "rstml"
scope = "scope.rstml"
file-types = []
injection-regex = "rstml"

# [[grammar]]
# name = "rstml"
# source = { git = "https://github.com/rayliwell/tree-sitter-rstml", subpath = "rstml", rev = "07a8e3b9bda09b648a6ccaca09e15dea3adf956f" }

# rust
# [language-server.rust-analyzer]
# command = "rust-analyzer"
# args = ["+nightly"]

[language-server.rust-analyzer.config]
# procMacro = { enable = false }
# diagnostics = { disabled = ["macro-error"] }
check.command = "clippy"
cargo.features = "all"

[[language]]
name = "rust"
language-servers = ["rust-analyzer"]
formatter = { command = "rustfmt", args = ["+nightly", "--edition", "2024"] }
rulers = [100]

# python
[language-server.pyright]
command = "pyright-langserver"
args = ["--stdio"]
config = {}

[language-server.ruff]
command = "ruff-lsp"
config = { settings = { args = ["--extend-select", "I,RUF"] } }

[[language]]
name = "python"
language-servers = ["pyright", "ruff"]
auto-format = false
formatter = {command = "ruff", args = ["format", "-"]}

# prettier
[[language]]
name = "html"
formatter = { command = 'prettier', args = ["--parser", "html"] }

[[language]]
name = "json"
formatter = { command = 'prettier', args = ["--parser", "json"] }

[[language]]
name = "css"
formatter = { command = 'prettier', args = ["--parser", "css"] }

[[language]]
name = "javascript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "typescript"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true

[[language]]
name = "tsx"
formatter = { command = 'prettier', args = ["--parser", "typescript"] }
auto-format = true
